.list {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(222, 251, 222, 0.532);
  padding: 1.5rem;
  list-style-type: none;
  gap: 1rem;
  flex-wrap: wrap;
}

.item {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  width: 320px;
  padding: 1.4rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}