.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: 135px;
  list-style-type: none;
  padding: 0;
}

.item {
  border: 2px rgb(214, 214, 214) solid;
  padding-left: 2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}